language: python
dist: focal
cache: pip

matrix:
    include:
        - python: 3.6
          env: TOXENV=py36
        - python: 3.7
          env: TOXENV=py37
        - python: 3.8
          env: TOXENV=py38
        - python: 3.7
          env: TOXENV=mypy
        - python: 3.7
          env: TOXENV=style
        - python: 3.7
          env: TOXENV=codecov
        - python: 3.7
          env: TOXENV=coveralls

script: tox

install: pip install --upgrade tox
